.portfolio {
	 background-color: white;
	 display: flex;
	 flex-direction: column;
	 align-items: center;
}
 .portfolio h1 {
	 font-size: 50px;
}
 .portfolio ul {
	 margin: 10px;
	 padding: 0;
	 list-style: none;
	 display: flex;
}
 .portfolio ul li {
	 font-size: 14px;
	 margin-right: 50px;
	 padding: 7px;
	 border-radius: 10px;
	 cursor: pointer;
}
 .portfolio ul li.active {
	 background-color: darkcyan;
	 color: white;
}
 .portfolio .container {
	 width: 70%;
	 display: flex;
	 align-items: center;
	 justify-content: center;
	 flex-wrap: wrap;
}
 .portfolio .container .item {
	 width: 220px;
	 height: 150px;
	 border-radius: 20px;
	 border: 1px solid lightgrey;
	 margin: 10px 20px;
	 display: flex;
	 align-items: center;
	 justify-content: center;
	 color: white;
	 position: relative;
	 transition: all 0.5s ease;
	 cursor: pointer;
}
 .portfolio .container .item h3 {
	 position: absolute;
	 font-size: 20px;
}
 .portfolio .container .item img {
	 width: 100%;
	 height: 100%;
	 object-fit: cover;
	 z-index: 1;
}
 .portfolio .container .item:hover {
	 background-color: darkcyan;
}
 .portfolio .container .item:hover img {
	 opacity: 0.2;
	 z-index: 0;
}
 